/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
body, html, .container-fluid, app-root {
	background:#D7CEC7;
	height: 100%;
	width: 100%;
}
